body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #137a7f;
}

main {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    height: 90vh;
}
